[user]
	name = LukasAnell
	email = lukasmanell@gmail.com
[core]
	editor = nvim
[init]
	defaultBranch = main
[merge]
	conflictStyle = zdiff3
[diff]
	algorithm = histogram
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
