[Desktop Entry]
Type=Application
Name=Bitwarden
Exec=bash -c "sleep 5 && /opt/bitwarden/Bitwarden.AppImage"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
